p {
    font-family: 'Anaheim', sans-serif;
}

body {
    font-family: 'Anaheim', sans-serif;

}

a:hover {
    color:#fff;
    transition: .5s;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color:#431A94;
}

.btn-primary {
    background-color: #431A94;
    border-color: #431A94;
}

.btn-primary:hover {
    background-color:#2c1063;
    transition: all .5s ease-in-out;
}

a{
    color:#ba82c4;
}

.underline {
    text-decoration: underline;
}
.message-me {
	width: 150px;
    margin: 0 auto;
    display: block;
}

.line {
	background-image: url(../assets/images/line-bg.png);
	height: 6px;
	width: 100%
}

.illustrations {
	max-width:170px;
}


article {
	margin: 0 auto;
	max-width:460px;
}

figure {
	margin: 0 auto;
	max-width:150px;
}

figure img {
	width:100%;
}

.main-wrap {
    background: #e2e0eb;
    color: #545454;
    text-shadow: none;
}

.im-andres {
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
    color: #45b29a;  
    font-size:4em;  
}

.header-desc {
    text-align: center;
    color: #45b29a;
    padding: 1em 0;
    font-size: 1.8em;
    font-weight: 400;
}

.header-logo {
	width:100px;
}
.nav-top {
    background: #e2e0eb;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .8s;
    transition: all .8s;
    padding: 15px;
}
.top-nav {
    display:block;
}

.top-nav ul {
	position: relative;
    float:right;
    padding-top: 1.5em;
    padding-left: 0;
}

.top-nav ul li {
	display:block;
    float:left;
}

.top-nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #45b29a;
    font-weight: 400;
    margin: 0 0 0 3em;
    font-size: 120%;
}

/* create a::hover for menu */


/* CLOUDS & LAND */
.top {
    padding-top:0;
    overflow: hidden;
    background-color: #e2e0eb;
}
.master-head {
    -webkit-animation: fadeIn .5s ease-in-out;
    -moz-transition: fadeIn .5s ease-in-out;
    -o-transition: fadeIn .5s ease-in-out;
    transition: fadeIn .5s ease-in-out;
}
.cloud{
    position: absolute;
    background: url(../assets/images/cloud.svg) top left no-repeat;
    width: 150px;
    height: 45px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    z-index: 980;
}

.transition {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.left-cloud {
    left: -6em;
    bottom: 2em;
}

.right-cloud {
    right: 0em;
    top: 0;
}

#earth {
    margin: 0 auto;
    max-width: 800px;
    overflow: hidden;
}

/* FOOTER */
footer {
    width: 100%;
    background-color: #431A94;
    color: #d3c5de;
}
ul.footer {
    list-style: none;
    margin:auto;
    display: block; text-align:center;
}

ul.footer li {
    padding: 44px;
    display: inline-block;
}


/* MEDIA QUERIES */

@media (min-width: 992px){
    .left-cloud {
        left: 2em;
        bottom: 5em;
    }
    .right-cloud {
        right: 2em;
        top: 6em;
    }
}

@media (max-width: 544px) { 
    .left-cloud {
    left: -4em;
    bottom: 19em;
    }
    .right-cloud {
    right: 0em;
    top: 10em;
    }
.top-nav {
    display:block;
}

.top-nav ul {

    padding-top: 1.5em;
    padding-left: 0;
}


.top-nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #45b29a;
    font-weight: 400;
    margin: 0 0 0 1em;
    font-size: 100%;
} 

.im-andres {
    font-size:30px;
    margin-top:67px;
}

.header-desc {
    font-size: 1.2em;
}

#earth img {
    width:100%;
}

h2 {
    font-size: 1.4rem;
    text-align: center;
    padding-top:20px;
}

p {
    text-align: center;
}

.message-me {
    width: 100%;
}
ul.footer li {
    padding: 18px;
}

}






